.lista-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

/* CAM CAD CAE
IDENTIFICARSE:
Robot-IA: Puede ayudar en muchas areas a solucionar problemas que existen enla sociedad - COMO EN HACER COMPAÑIA, AYUDAR A LOS CIEGOS

GRUPO 3 MICROCHIP
    david bernardo patzi
    ismael pablo mamani apaza.
    Ronal Sarsuri V.
    Edy Vadillo

    pensar en un dispositivo
    que es lo que destaca-util-significativo

DINAMICA2 VIDEO

CAE - Ingeniería asistida por computadora
CAM - Fabricación asistida por computadora
SIM - Sistema Integrado de Manufactura
CAD - Diseño asistido por computadora
PLM - GESTION DE CICLO DE VIDA EN UN PRODUCTO
*/